<%= form_for @floorplan, :url => { :action => :update }, :html => { :class => "form-horizontal floorplan" } do |f| %>

  <% if @floorplan.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@floorplan.errors.count, "error") %> prohibited this floorplan from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @floorplan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :num_bed, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.number_field :num_bed, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :num_bath, :class => 'col-sm-2 control-label' %>
    <div class="col-sm-2">
      <%= f.number_field :num_bath, :class => 'form-control' %>
    </div>
  </div>

  <%= f.submit nil, method: :patch, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            listings_path, :class => 'btn btn-default' %>

<% end %>
