<div class="form-group">
  <%= f.label :title, :class => 'col-sm-2 control-label' %>
  <div class="col-sm-2">
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :num_bed, :class => 'col-sm-2 control-label' %>
  <div class="col-sm-2">
    <%= f.number_field :num_bed, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :num_bath, :class => 'col-sm-2 control-label' %>
  <div class="col-sm-2">
    <%= f.number_field :num_bath, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :photo, :class => 'col-sm-2 control-label' %>
  <div class="col-sm-2">
    <%= f.file_field :photo %>
  </div>
</div>
