<%- model_class = Listing -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<form role="form" class="form-horizontal">


<div class="form-group">
  <label for="price" class="col-sm-2 control-label">Price</label>
  <div class="col-sm-2">
    <input type="text" id="pricelow" name="pricelow" class="form-control" />
  </div>
  <div class="col-sm-2">
    <input type="text" id="pricehigh" name="pricehigh" class="form-control" />
  </div>
</div>

<div class="form-group">
  <label for="beds" class="col-sm-2 control-label">Beds</label>
  <div class="col-sm-2">
    <input type="text" id="bedslow" name="bedslow" class="form-control" />
  </div>
  <div class="col-sm-2">
    <input type="text" id="bedshigh" name="bedshigh" class="form-control" />
  </div>
</div>

<div class="form-group">
  <label for="baths" class="col-sm-2 control-label">Baths</label>
  <div class="col-sm-2">
    <input type="text" id="bathslow" name="bathslow" class="form-control" />
  </div>
  <div class="col-sm-2">
    <input type="text" id="bathshigh" name="bathshigh" class="form-control" />
  </div>
</div>

<div class="form-group">
  <label for="sel1" class="col-sm-2 control-label">Type</label>
  <div class="col-sm-2">
    <select class="form-control col-sm-2" id="sel1">
      <option>Home</option>
      <option>Rental</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="sel1" class="col-sm-2 control-label">Location</label>
  <div class="col-sm-2">
    <select class="form-control col-sm-2" id="sel1">
      <option>Seattle</option>
      <option>Bellevue</option>
      <option>Kirkland</option>
      <option>Issaqua</option>
    </select>
  </div>
</div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Search" />
      <!--
      <input type="button" value="Show Advanced Search Features" />
      -->
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.id, listing_path(listing) %></td>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%=l listing.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_listing_path(listing), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      listing_path(listing),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_listing_path,
            :class => 'btn btn-primary' %>
-->
