<%- model_class = Welcome -%>
<!--
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
-->

<head>
    <style type="text/css">
      html, body, #map-area { height: 95%; margin: 0; padding: 0;}
      #map-area {margin-left: 5%; margin-right: 5%;}
    </style>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeK3xnM83FC-YocquU4VY13iEqXRiVdpw"></script>
    
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 47.6097, lng: -122.3331},
          zoom: 10
        };
        var map = new google.maps.Map(document.getElementById('map-area'), mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
  <div id="map-area"></div>
</body>

<!--
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @welcomes.each do |welcome| %>
      <tr>
        <td><%= link_to welcome.id, welcome_path(welcome) %></td>
        <td><%=l welcome.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_welcome_path(welcome), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      welcome_path(welcome),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<!--
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_welcome_path,
            :class => 'btn btn-primary' %>
-->
